.reviewContainer {
  margin: 30px;
}

.reviewItem {
  margin-bottom: 30px;
}

.info {
  font-size: 18px;
  font-weight: 400;
  color: #6b778d;
  margin-bottom: 10px;
  text-align: justify;
}

.infoSubtitle {
  font-weight: 500;
  color: #263859;
  margin-right: 8px;
}
